.company-outer-box {
  background-color: #bacd9a;
  width: 100%;
  border-radius: 24px;
  padding: 2vh;
}

.company-card-container {
  font-family: Arial, sans-serif;
  max-width: 100%;
  /* margin: 20px; */
  margin-top: 20px;
  margin-left: 20px;
  /* margin-bottom: 20px; */
  align-items: center;
  /* border: 2px solid; */
  margin-right: 25px;
}

.company-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #fffad8;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 16px;
  font-weight: bold;
}

.company-points {
  font-size: 12 px;
  color: #555;
  display: flex;
  align-items: center;
}

.info-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 12px;
}
.company-checkbox {
  margin-left: 16px;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  accent-color: #fffad8;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  text-align: center;
  /* border-radius: 10px; */
}

.searchbox-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 3%;
  margin-bottom: 1vh;
}

.searchbox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1px;
  flex-grow: 1;
  height: 40px;
}

.searchbox-input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
}

.filter-button {
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  /* height: 80%; */
  /* border: 2px solid red; */
  /* margin-bottom: 70px; */
  /* overflow: hidden; */
  /* Prevent the₹4869 entire page from scrolling */
  
}

.company-card-scroll-container {
  /* overflow-y: hidden; */
  /* padding: 10px; */
  width: 100%;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  background-color: #BACD9A;
  /* border: 2px solid red; */
  /* margin-left: 10px; */
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
}

.company-exchange
{
  border: 2px solid red;
  margin-right: 2%;
}
.submit-button {
  background-color: #368455;
  color: #fffad8;
  border: none;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

.logo{
margin-left: 40%
}


.button-area1
{
  display: flex;
  justify-content: center;
  /* border: 2px solid rgb(15, 7, 7); */
  margin-top: 8px;
  margin-bottom: 72px;
}