
  .company-card-container1 {
    font-family: Arial, sans-serif;
    /* max-width: 100%; */
    /* margin: auto; */
    /* margin: 2%; */
    margin-bottom: 6vh;
    /* border: 1px solid; */
  }

  .month-total-item1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 5px; */
  /* padding-right: 150px; */
  width: 100%;
  /* border-bottom: 1px solid #ccc; */
  /* border: 1px solid red; */
  /* border-radius: 10px; */
  /* margin-bottom: 8px; */
  background-color: #fffad8;
  /* overflow: hidden; */
}
  
  .company-item-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    /* border: 1px solid red; */
    /* border-radius: 10px; */
    /* margin-bottom: 1%; */
    /* background-color: #fffad8; */
  }

  .company-item-history1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    opacity: 0.5;

    /* border: 1px solid red; */
    /* border-radius: 10px; */
    /* margin-bottom: 1%; */
    /* background-color: #fffad8; */
  }
  
  
  .company-info1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .company-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .company-points {
    font-size: 12 px;
    color: #555;
    display: flex;
    align-items: center;
  }
  

.landing-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
    /* Prevent the entire page from scrolling */
  }
  

  .company-card-scroll-container {
    flex-grow: 1; /* Take up remaining space */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 10px;
    width: 100%;
    max-width: 800px;
  }
  
  .company-exchange1
  {
    /* border: 2px solid red; */
    margin-right: 2%;
    /* padding-right: 2%; */
  }

  .company-exchange2
  {
    /* border: 2px solid red; */
    margin-right: 3%;
    /* padding-right: 2%; */
  }


  .month-money
  {
    font-size: x-large;
    color: green;
  }

  .money1
  {
    font-size: larger;
  }