.company-outer-box1 {
  /* background-color: #bacd9a; */
  /* background-color: none; */
  border-radius: 32px 32px 0px 0px;
  /* padding: 20px; */
  /* padding-top: 24px; */
  width: 100%;
  /* background-color: red; */
  /* margin-left: 10px; */
  margin-bottom: 60px;
  padding: 10px;
}

.company-outer-box1 .company-card-container .company-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  background-color: #fffad8;
  width: 80%;
  margin: auto;
  margin-top: 12px;

}

.company-outer-box1 .company-card-container .qty-point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

}

.company-outer-box1 .company-card-container .company-item .brand-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.company-outer-box1
  .company-card-container
  .company-item
  .brand-logo
  .brand-logo-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 30%; */
  /* border: 1px solid; */
}

.company-outer-box1
  .company-card-container
  .company-item
  .brand-logo
  .brand-logo-name
  .brand-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 30%; */
  margin-left: 8px;
  /* border: 1px solid; */
}

.home-arrow {
  /* border: 2px solid; */
  background-color: #368455;
  border-radius: 8px;
  border: none;
  margin-left: 5px;
}

.point-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.money-arrow {
  /* border: 2px solid; */
  display: flex;
  align-items: center;
}
.moneydetail {
  font-size: larger;
  font-weight: bold;
}

.company-outer-box1 .company-card-container .expiry-info {
  text-align: left;
  width: 100%;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 19px;
  font-weight: bold;
}

.company-pts {
  font-size: 12 px;
  font-weight: bold;
  /* margin: 2px; */
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow: hidden;
  /* Prevent the entire page from scrolling */
}

.company-card-scroll-container {
  flex-grow: 1; /* Take up remaining space */
  overflow-y: auto;
  /* Enable vertical scrolling */
  padding: 16px;
  width: 100%;
  max-width: 800px;
}

.company-exchange-1 {
  /* border: 2px solid red; */
  margin-right: 2%;
  padding-right: 2%;
  /* border: 5px solid red; */
}

.month-money {
  font-size: x-large;
  color: green;
}

.money {
  font-size: x-large;
}

.discount-gateway {
  /* border: 2px solid red; */
  /* height: 100vh; */
  /* background-color: greenyellow; */
}

/* this is for history page */

.month-total-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  /* border: 1px solid red; */
  /* border-radius: 10px; */
  margin-bottom: 8px;
  background-color: #fffad8;
  overflow: hidden;
}

.proceed-button {
  border: none;
  border-radius: 8px;
  padding: 13px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  margin-top: 12px;
}

.discount-gateway .proceed-button button {
  position: relative;
  background-color: green;
  border: none;
  padding: 14px 0;
  width: 80%;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: auto;
}
