
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 600px; */
    margin: 10px auto;
    text-align: center;
  }
  
  .searchbox-wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 3%;
    margin-bottom: 1vh;
  }
  
  .searchbox {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    flex-grow: 1;
    height: 40px;
  }
  
  .searchbox-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
  }
  
  .filter-button1 {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .filter-text
  {
    margin-left: 3px;
  }
  .company-card-scroll-container1 {
    flex-grow: 1; /* Take up remaining space */
    overflow-y: auto;
    /* Enable vertical scrolling */
    /* padding: 10px; */
    width: 100%;
    /* max-width: 800px; */
    /* margin: 0 auto; */
    /* background-color: #bacd9a; */
    /* border-radius: 30px; */
    /* border: 2px solid black; */
  }