/* .payment-container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.amount-display h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.payment-options button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.payment-options button:hover {
  background-color: #45a049;
} */

.discount-gateway{
  background-color: aqua; 
  position: relative;
}


.discount-gateway .proceed-button{
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
}

.discount-gateway .proceed-button button{
  position: relative;
  background-color: green;
  border: none;
  padding: 14px 0;
  width: 80%;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: auto;
}